.column {
  display: grid;
  grid-template-columns: 250px 1fr;
}
.images {
  padding: 18px;
  box-sizing: border-box;
}

@media screen and (max-width: 890px) {
  .column {
    display: flex;
    flex-direction: column;
  }
  .images {
    margin-left: 0;
  }
}
