.section {
  background-color: #020202;
  max-width: 250px;
  min-width: 250px;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
}

.section h1 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.section h1::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin: 0 auto;
  border-color: transparent #fff;
  border-width: 9px 13px;
  border-style: solid;
  opacity: .7;
  margin-bottom: 20px;
}

.section p {
  margin-top: 30px;
  font-size: 12px;
  opacity: .7;
  line-height: 1.4em;
}

.section a {
  color: #fff;
  opacity: .7;
  text-decoration: none;
}

.section a:hover {
  background-color: #444;
}

.section ul {
  padding: 0;
  margin: 40px 0 0;
}

.section li {
  font-size: 14px;
  list-style: none;
}

.section li + li {
  margin-top: 10px;
}
