.section {
  background-color: #020202;
  box-sizing: border-box;
}

.section h1 {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.section p {
  margin-top: 30px;
  font-size: 12px;
  opacity: 0.7;
  line-height: 1.4em;
}

.section a {
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
}

.section a:hover {
  background-color: #444;
}

.section ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.section li {
  border: 1px solid #444444;
  border-radius: 4px;
  font-size: 12px;
  list-style: none;
  margin-right: 10px;
}

.section li + li {
  margin-top: 10px;
}

.section li a {
  padding: 4px 10px;
  display: inline-block;
}

@media screen and (min-width: 890px) {
  .section {
    position: fixed;
    max-width: 250px;
    min-width: 250px;
    padding: 20px;
    height: 100vh;
  }

  .section h1 {
    font-size: 18px;
  }

  .section h1::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin: 0 auto;
    border-color: transparent #fff;
    border-width: 9px 13px;
    border-style: solid;
    opacity: 0.7;
    margin-bottom: 20px;
  }
  .section ul {
    margin-top: 40px;
  }
}
@media screen and (max-width: 890px) {
  .section {
    padding: 10px;
  }
  .section h1 {
    font-size: 14px;
  }
  .section p {
    margin: 10px 0 0;
  }
}
